<div
  class="py-3 vw-100 overflow-x-scroll"
  *ngIf="students$ | async as students"
>
  <div
    class="text-center mt-5"
    *ngIf="students.length === 0; else studentTable"
  >
    No students added! Add students to the system first.
  </div>

  <ng-template #studentTable>
    <div class="mb-4 px-2">
      <h1 class="h3">Registered Students</h1>
    </div>
    <app-student-table
      [students]="students"
      (deleteEmitter)="onDeleteReceived($event)"
    />
  </ng-template>
</div>
div
