<div class="container-fluid bg-light shadow-sm">
  <header class="d-flex justify-content-center py-3">
    <ul
      class="nav nav-pills gap-2 fw-medium d-flex justify-content-center align-items-center"
    >
      <li class="nav-item">
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="nav-link rounded-5"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/students"
          routerLinkActive="active"
          class="nav-link rounded-5"
          >Students</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/add-student"
          routerLinkActive="active"
          class="nav-link rounded-5"
          >Add Student</a
        >
      </li>
    </ul>
  </header>
</div>
