<div class="container py-3">
  <h1 class="h3">Add New Student</h1>
  <form class="mt-4" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <!-- Basic Info -->
      <div class="col-md-6">
        <label class="form-label">First Name</label>
        <input
          formControlName="firstName"
          type="text"
          class="form-control"
          placeholder="Ali"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Last Name</label>
        <input
          formControlName="lastName"
          type="text"
          class="form-control"
          placeholder="Hassan"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Age</label>
        <input
          formControlName="age"
          type="number"
          class="form-control"
          placeholder="21"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Gender</label>
        <select class="form-select" formControlName="gender">
          <option selected disabled>Select gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Level</label>
        <input
          formControlName="level"
          type="number"
          class="form-control"
          placeholder="3"
        />
      </div>

      <!-- Contact -->
      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="ali.hassan@email.com"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Phone</label>
        <input
          formControlName="phone"
          type="text"
          class="form-control"
          placeholder="01000000000"
        />
      </div>

      <!-- Address -->
      <div class="col-12">
        <label class="form-label">Address</label>
        <input
          formControlName="address"
          type="text"
          class="form-control"
          placeholder="12 Main Street"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">City</label>
        <input
          formControlName="city"
          type="text"
          class="form-control"
          placeholder="Cairo"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Country</label>
        <input
          formControlName="country"
          type="text"
          class="form-control"
          placeholder="Egypt"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Department</label>
        <input
          formControlName="department"
          type="text"
          class="form-control"
          placeholder="Computer Science"
        />
      </div>

      <!-- Academic -->
      <div class="col-md-4">
        <label class="form-label">GPA</label>
        <input
          formControlName="GPA"
          type="number"
          step="0.01"
          class="form-control"
          placeholder="3.2"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Enrollment Date</label>
        <input
          formControlName="enrollmentDate"
          type="date"
          class="form-control"
        />
      </div>

      <div class="col-md-4 d-flex align-items-end">
        <div class="form-check">
          <input
            formControlName="isActive"
            class="form-check-input"
            type="checkbox"
            id="activeCheck"
          />
          <label class="form-check-label" for="activeCheck"> Active </label>
        </div>
      </div>

      <!-- Submit -->
      <div class="col-12 text-end">
        <button
          type="submit"
          class="btn btn-primary rounded-5"
          [disabled]="studentForm.invalid"
        >
          Save Student
        </button>
      </div>
    </div>
  </form>
</div>
